---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
const posts = await getCollection("notes");
const allPosts = posts
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
  )
  .slice(0, 4);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body data-pagefind-ignore>
    <Header title={SITE_TITLE} />
    <main>
      <h1 class="text-lime-700 dark:text-lime-300">Welcome 👋</h1>
      <p>I'm currently thinking out loud about</p>

      <ul>
        <li><a href="/weaving">weaving</a></li>
        <li><a href="/learning-rust">learning rust</a></li>
        <li>
          <a href="/cs50s-introduction-to-databases-with-sql"
            >refreshing my knowledge on relational databases</a
          >
        </li>
        <li><a href="/nyckelharpa">nyckelharpas</a></li>
      </ul>
      <p>
        and a bunch of other random topics. Sometimes I <a href="/book-notes"
          >read books and make notes on them</a
        >. Have a look around, <a href="/search">search</a> for something interesting
        or just browse the <a href="/everything">list of all notes</a>.
      </p>
      <p>
        Here's a bit more <a href="/about-these-notes">about these notes</a> to explain
        how they work.
      </p>
      <h2>Recently updated</h2>
      <ol class="list-disc">
        {
          allPosts.map((blogPostEntry) => (
            <li>
              <a href={`/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
            </li>
          ))
        }
      </ol>
    </main>

    <Footer />
  </body>
</html>
