---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main data-pagefind-ignore>
      <h1>Search these notes</h1>
      <input
        id="search"
        type="text"
        placeholder="Search for..."
        class="block w-full rounded-lg border border-neutral-300 bg-neutral-50 p-2.5 text-sm text-neutral-900 focus:border-lime-500 focus:ring-lime-500 dark:border-neutral-600 dark:bg-neutral-700 dark:text-neutral-50 dark:placeholder-neutral-400 dark:focus:border-lime-500 dark:focus:ring-lime-500"
      />

      <div id="results" class="not-prose"></div>

      <script is:inline>
        document
          .querySelector("#search")
          ?.addEventListener("input", async (e) => {
            // only load the pagefind script once
            if (e.target.dataset.loaded !== "true") {
              e.target.dataset.loaded = "true";
              // load the pagefind script
              window.pagefind = await import("/pagefind/pagefind.js");
            }

            // search the index using the input value
            const search = await window.pagefind.debouncedSearch(
              e.target.value
            );

            // clear the old results
            document.querySelector("#results").innerHTML = "";

            if (search !== null) {
              // add the new results
              for (const result of search.results) {
                const data = await result.data();
                document.querySelector("#results").innerHTML += `
                    <a class='block group no-underline font-normal not-prose py-4' href="${data.url}">
                      <h3 class='text-xl font-bold leading-tight group-hover:text-lime-700 dark:group-hover:text-lime-300'>${data.meta.title}</h3>
                      <p class='no-underline leading-normal pt-2'>... ${data.excerpt} ...</p>
                    </a>`;
              }
            }
          });
      </script>
    </main>
    <Footer />
  </body>
</html>
