---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main data-pagefind-ignore>
      <h1>Search these notes</h1>
      <input
        id="search"
        type="text"
        placeholder="Search for..."
        class="bg-neutral-50 border border-neutral-300 text-neutral-900 text-sm rounded-lg focus:ring-lime-500 focus:border-lime-500 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-neutral-50 dark:focus:ring-lime-500 dark:focus:border-lime-500"
      />

      <div id="results"></div>

      <script is:inline>
        document
          .querySelector("#search")
          ?.addEventListener("input", async (e) => {
            // only load the pagefind script once
            if (e.target.dataset.loaded !== "true") {
              e.target.dataset.loaded = "true";
              // load the pagefind script
              window.pagefind = await import("/pagefind/pagefind.js");
            }

            // search the index using the input value
            const search = await window.pagefind.search(e.target.value);

            // clear the old results
            document.querySelector("#results").innerHTML = "";

            // add the new results
            for (const result of search.results) {
              const data = await result.data();
              document.querySelector("#results").innerHTML += `
                    <a href="${data.url}">
                      <h3>${data.meta.title}</h3>
                      <p>${data.excerpt}</p>
                    </a>`;
            }
          });
      </script>
    </main>
    <Footer />
  </body>
</html>
