---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { allLinks } from "../lib/makeBacklinks";

const allLinks_ = await allLinks;

const { title, description, pubDate, updatedDate, slug } =
  Astro.props;
const inLinks = allLinks_.get(slug) || [];
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <main class="wrapper px-auto min-h-screen max-w-prose p-0">
      <div class="meta">
        <p class="text-sm font-light text-neutral-600 dark:text-neutral-300">
          Created <FormattedDate date={pubDate} />{
            updatedDate && (
              <span class="block">
                Last updated <FormattedDate date={updatedDate} />
              </span>
            )
          }
        </p>
        <h1>{title}</h1>
      </div>

      <article class="">
        <slot />
      </article>
      <aside class="mt-8 rounded-lg bg-neutral-200 p-4 dark:bg-neutral-700">
        <h3 class="mb-2 mt-0 pt-0 text-base font-bold">
          Notes mentioning this note
        </h3>
        {
          inLinks.length > 0 ? (
            <>
              {inLinks.map((l) => (
                <>
                  <a class="internal text-sm" href={`/${l.permalink}`}>
                    {l.title}
                  </a>
                  <p class="mt-0 text-xs font-light leading-5 dark:font-normal">
                    {l.snippet}
                  </p>
                </>
              ))}
            </>
          ) : (
            <div>
              <p class="text-xs font-light leading-5 dark:font-normal">
                There are no notes linking to this note.
              </p>
            </div>
          )
        }
      </aside>
    </main>
    <Footer />
  </body>
</html>
